{% extends "outbreak/template.html.twig" %}

{% block title %} Login successful {% endblock %}

{% block body %}
    <br></br>
    <br></br>
    Login successful. <br><a href="startsession?sessid={{ sessid }}">Enter lobbies</a>
    <br></br>
    <br></br>
{% endblock %}