services:
  biogateway:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: docker/gateway.Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - biomysql
    networks:
      - bio-network

  biofpm:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: docker/fpm.Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
        - APP_PRODUCTION_BUILD=${APP_PRODUCTION_BUILD}
    env_file:
      - .env
    depends_on:
      - biomysql
    networks:
      - bio-network

  biomysql:
    restart: unless-stopped
    image: mysql:9.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
    networks:
      - bio-network
    env_file:
      - .env
    volumes:
      - ./docker/vars/mysql/1_create_user.sh:/docker-entrypoint-initdb.d/1_create_user.sh
      - ./docker/vars/mysql/2_init_db.sh:/docker-entrypoint-initdb.d/2_init_db.sh
      - ./dbdata:/var/lib/mysql

  biodns:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: docker/dns.Dockerfile
    environment:
      SERVER_IP: ${SERVER_IP}
      ROUTER_IP: ${ROUTER_IP}
    ports:
      - "53:53/udp"
    cap_add:
      - NET_ADMIN


networks:
  bio-network:
    driver: bridge
    name: bio-network
