{% extends "template.html.twig" %}

{% block title %} {{ message }} {% endblock %}

{% block body %}
    <br></br>
    <br></br>
    {{ message }} <br><a href="{{ url }}">back</a>
    <br></br>
    <br></br>
{% endblock %}