{% extends "template.html.twig" %}

{% block title %} Login successful {% endblock %}

{% block body %}
    Login successful. <br><a href="startsession?sessid={{ sessid }}">Enter lobbies</a>
{% endblock %}